{{template "base" .}} {{define "title"}}NeoSec - Login{{end}} {{define
"content"}}
<div class="login-wrapper">
    <div class="login-box">
        <h1>¡Hola de nuevo!</h1>
        <div class="subtitle">Nos alegra verte de nuevo.</div>
        <form hx-post="/login" hx-target="#error-msg">
            <div class="input-group">
                <label>Usuario</label>
                <input
                    type="text"
                    name="username"
                    required
                    autocomplete="off"
                />
            </div>
            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" name="password" required />
            </div>
            <button type="submit">Iniciar Sesión</button>
            <div id="error-msg" class="error"></div>
        </form>
        <a
            href="/register"
            class="secondary-btn"
            style="
                width: 100%;
                padding: 12px;
                border-radius: 3px;
                font-size: 16px;
                font-weight: 500;
                color: white;
                display: block;
                margin-top: 10px;
            "
            >Registrarse</a
        >
    </div>
</div>
{{end}}
